#page-atuacao .grid-area-atuacao .box-cinza{
    background-color: transparent;
    margin-bottom: 0;
}
#page-atuacao .grid-area-atuacao {
    grid-template-columns: repeat(2,1fr);
    margin: 80px 0;
}
#page-atuacao .grid-area-atuacao>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-atuacao .grid-area-atuacao .img-area-atuacao{
    max-width: 350px;
}

#page-atuacao .box-cinza{
    height: fit-content;
}
@media screen and (max-width: 576px) {
    #page-atuacao .grid-area-atuacao {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    #page-atuacao .grid-area-atuacao .box-cinza {
        height: fit-content;
    }
}