.grid-area-tecnologica {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 2rem;
    margin-bottom: 80px;
}

.grid-item-area-tech {
    background-color: #222A36; 
    border-radius: 15px; 
    padding: 30px; 
    height: 405px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.grid-item-area-tech ul {
    margin-top: 2rem;
}
.grid-item-area-tech ul li {
    list-style: none;
    font-size: 1.5rem;
}
