.modal_container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999;
    display: none;
    align-items: center;
    justify-content: center;
}
.modal_container.is_open {
    display: flex;
}
.is_open .modal_content {
    animation: openModal .25s forwards ease-in-out;
}
.modal_content {
    background: url('../images/hex.svg') no-repeat center center;
    background-size: 85%;
    width: 570px;
    height: 600px;
    padding: 30px 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
/* Hex SVG code */

  .hexMask {
    display: flex;
    width: 290px;
    height: 290px;
    -webkit-mask-image: url("../images/hexMask.svg");
    -moz-mask-image: url("../images/hexMask.svg");
    justify-content: center;
    align-items: center;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    cursor: pointer;
    background-color:rgba(0, 150, 255,.45);
    z-index: 1;
  }
/* FIM Hex SVG code */

.modal_foto {
    width: 180px;
    height: auto;
    max-width: 180px;
    max-height: 180px;
    margin-bottom: 20px;
}
.hexMask>img {
    max-width: 290px;
    object-fit: contain;
}

.hexMask .modal_foto {
    width: 180px;
    height: 180px;
}

.modal_content .hexMask {
    width: 180px;
    height: 180px;
    -webkit-mask-size: 90%;
    mask-size: 90%;
}
.modal_name {
    color: #4e93cf;
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
    margin: 0 ;
}
.modal_cargo {
    font-weight: 400;
    margin-bottom: 14px;
}
.modal_sobre {
    max-width: 85%;
    text-align: center;
    font-size: 1.4rem;
}

.fechar {
    position: absolute;
    top: calc(50% - 170px);
    right: calc(50% - 260px);
    z-index: 99999;
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    font-weight: bold;
}
.fechar:hover {
    box-shadow: 0 0 8px 2px white;
}

.fechar:active{
    box-shadow: inset 1px 1px 2px 0 black!important;
}

@keyframes openModal {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


@media screen and (max-width: 576px) {

    .hexMask .modal_foto {
        transform: translateY(10px);
        width: 140px;
        height: 140px;
    }
    .modal_content {
        margin: 0 1px;
        height: 500px;
        width: 400px;
        padding: 40px 30px;
        overflow: hidden;
        background-size: 100%;
    }
    .modal_content .hexMask {
        width: 140px;
        height: 140px;
        -webkit-mask-size: 90%;
        mask-size: 90%;
    }
    .fechar {
        top: 15px;
        right: 15px;

    }
    .modal_cargo {
        margin-bottom: 4px;
    }
    .modal_sobre {
        max-width: 100%;
        text-align: center;
        font-size: 13px;
        line-height: 1.4;
    }
}
@media screen and (max-width: 375px) {
    .modal_content {
        padding: 65px 15px;
    }
    .modal_sobre {
        font-size: 10px;

    }
}